# App Settings
APP_NAME="Hazree Backend"
ADMIN_EMAIL="admin@hazree.com"
DEBUG=True
SECRET_KEY="your-secret-key-here"

# Database Settings (PostgreSQL Parameters)
POSTGRES_USER="neondb_owner"
POSTGRES_PASSWORD="your_neon_password"
POSTGRES_SERVER="ep-delicate-field-aumbz9ah-pooler.c-10.us-east-1.aws.neon.tech"
POSTGRES_PORT="5432"
POSTGRES_DB="neondb"

# Main Database URL
DATABASE_URL="postgresql://neondb_owner:your_neon_password@ep-delicate-field-aumbz9ah-pooler.c-10.us-east-1.aws.neon.tech/neondb?sslmode=require"
